<%-include('bootstrap');-%>
<h3>edit your text</h3>
<a href="/logout">LOGOUT</a>
<form method="POST">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">type your text here!!!</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="inputText"><%=blog.inputText%></textarea>
    </div>
    <div>
        <input type="submit" value="Submit" required>
    </div>

</form>