<%-include('bootstrap');-%>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <!-- <img src="/images/person.png" class="img-responsive" alt=""> -->
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        <%= user.username%>
                    </div>

                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">
                        <a href="/">home</a>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm">
                        <a href="/logout">LOGOUT</a>

                    </button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                Account Settings </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-ok"></i>
                                Tasks </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                Help </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <form action="/profile" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="title" aria-describedby="emailHelp"
                            placeholder="TITLE">
                        <small id="emailHelp" class="form-text text-muted">Write your title in between 50 words
                        </small>
                    </div>
                    <!-- input body filed -->
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">type your text here!!!</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="inputText"></textarea>
                    </div>
                    <!-- file upload -->

                    <div class="file-field input-field">
                        <div class="btn grey">
                            <span>File</span>
                            <input name="myImage" type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="Submit" required>
                    </div>

                </form>

                <table>
                    <%blogs.map(function(blog,i){%>
                    <tr>
                        <td>
                            <%= i+1 %>
                        </td>
                        <td>
                            <%= blog.inputText %> <br>
                            <img src="<%=blog.myImage%>" alt="postImage" class="responsive-img">
                        </td>
                        <td><a href="/edit/<%=blog._id%>">Edit</a></td>
                        <td><a href="/delete/<%=blog._id%>">Delete</a></td>

                    </tr>
                    <%})%>
                </table>

            </div>
        </div>
    </div>
</div>