<%-include('bootstrap');-%>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i>Signup</h1>
            <form action="/signup" method="POST">
                <div class="form-group">
                    <label for="email">Name</label>
                    <input id="email" name="username" class="form-control" placeholder="Enter your name" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">signup</button>
            </form>
            <p class="lead mt-4">
                Have an Account? <a href="/login">Login</a>
            </p>

        </div>
    </div>
</div>